.school {
    background-color: blue;
        font-weight: 700;
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
        color: cornsilk;
        text-align: left;
        display: grid;
        text-align: center;
}
img {
    padding-left: 15px;
    width: 300px;
    
}

